<div style="text-align: center;">
    <h1>Welcome to Sanmati Technologies</h1>
  
    <div *ngIf="false">Hello World !!</div>
  
    <!-- <div *ngIf="isValid">Hello World !!</div> -->
    
    <!-- <input type="radio" name="rad1" checked (click)="onchange(true)">True
    <input type="radio" name="rad1" (click)="onchange(false)">False
  
    <div *ngIf="isValid">
      Data is Valid !!
    </div>
  
    <div *ngIf="!isValid">
      Data is not Valid !!
    </div> -->
  
  
    <!-- <input type="radio" name="rad1" checked (click)="onchange(true)">Male
    <input type="radio" name="rad1" (click)="onchange(false)">Female
  
    <div *ngIf="isValid">
    I am Male
    </div>
  
    <div *ngIf="!isValid">
      I am Female
    </div> -->

    <!-- <input type="radio" name="rad1" checked (click)="onchange2('male')">Male
    <input type="radio" name="rad1" (click)="onchange2('female')">Female
    <input type="radio" name="rad1" (click)="onchange2('other')">Other
  
    <div *ngIf="isValid2 == 'male'">
    I am Male
    </div>
  
    <div *ngIf="isValid2 == 'female'">
      I am Female
    </div>
  
    <div *ngIf="isValid2 == 'other'">
        I am Other
      </div> -->

    <!-- {{company}} -->
<!--   
    <div *ngIf="company">
      Name : {{company.name}} <br/>
      City : {{company.city}} <br/>
      State : {{company.state}} <br/>
      Country : {{company.country}} <br/>
    </div>
  
    {{mynumenum.two}} -->
  
    <!-- <div *ngIf="mynumenum.two > 10">
      {{mynumenum.two}} is greater than 10
    </div>
    <p>Hello</p>
    <div>Hi</div>
    <span>how are you ?</span>
  
    <ng-template>Hello Sanmati</ng-template> -->
  
  
    <!-- <input type="radio" name="rad1" checked (click)="onchange(true)">Male
    <input type="radio" name="rad1" (click)="onchange(false)">Female
  <br/>
    <div *ngIf="isValid; else elseblock">
      I am Male
    </div>
  
    <ng-template #elseblock>
      I am Female !!
    </ng-template> -->
  
    Enter Your Age : <input type="text" #txtval (keyup)="0" /><br/>
  
    <div *ngIf="txtval.value>'18'; else elseblock">
      You are Elegible for Vote
    </div>
  
    <ng-template #elseblock>
      You are not Elegible for Vote
    </ng-template>
  
  
  
  
  </div>