.container{
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
  padding-top: 20px;
border-radius: 5%;
}

.container h2{
  color: blue;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

.inputDiv h4{
  margin-left: 25%;
}

.inputDiv input{
  border-radius: 5px;
  width: 50%;
  height: 25px;
  margin-bottom: 5px;
  margin-left: 25%;
  text-align: center;
}

.inputDiv span{
  margin-left: 25%;
  color: red;
}
.button{
  border-radius: 5px;
  width: 10%;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 45%;
}
