<div class="container">
  <h2>Registration Form</h2>

  <div>
    <form #regdata="ngForm" (ngSubmit)="Register(regdata)">
      <div class="inputDiv">
        <h4>First Name :</h4>
        <input type="text" class="fName" placeholder="Enter Your First name" name="firstname" minlength="3"
          maxlength="15" ngModel required #fname="ngModel"> <br>
        <span *ngIf="fname.touched && !fname.valid">
          First is Required !!
        </span>
        <span *ngIf="fname.errors?.['minlength'] ">
          First Name must be at least 3 characters long.
        </span>
        <!-- <span *ngIf="fname.errors?.['maxlength'] ">
          Name can be only 15 characters long.
        </span> -->

      </div>
      <div class="inputDiv">
        <h4>Last Name :</h4> <input type="text" class="lName" placeholder="Enter Your Last name" name="lastname" minlength="3" maxlength="15"
          ngModel required #lname="ngModel"><br>
        <span *ngIf="lname.touched && !lname.valid">
          Last Name is Required !!
        </span>
        <span *ngIf="lname.errors?.['minlength'] ">
          Last Name must be at least 3 characters long.
        </span>

      </div>
      <div class="inputDiv">
        <h4>Email : </h4>
        <input type="text" class="eMail" placeholder="Enter Your Email ID" name="email" ngModel required #email="ngModel"> <br>
        <span *ngIf="email.touched && !email.valid">
          Email is Required !!
        </span>
      </div>

      <input class="button" type="submit" value="Register" [disabled]="regdata.invalid">

    </form>
  </div>
</div>
